/* Allgemeines*/

#allesFilme {

    background-image: url("backgroundimage.jpeg");
      background-color: #cccccc;
      height: 500px;
    	background-position: top;
      background-size: cover;
}

/* Toolbar */
#toolbar {
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    border: 0px solid darkgrey;
    border-bottom-width: 1px;
    color: #505050;

    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

#toolbar button,
#toolbar form action {

    color: black;
    outline: 0;


    font-size: 150%;

    padding: 0.75em 0.25em 0.75em 0.25em;
}

#toolbar button:hover {
    background: rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

#toolbar button:active {
    padding: 0.8em 0.15em 0.7em 0.35em;
}

#toolbar button:hover,
#toolbar button:active,
#toolbar button:focus,
#toolbar button::-moz-focus-inner {

    outline: 0;
    border: 0;
}

#toolbar .center {
    float: center;
}

/* Layout */
 #mainFilme {
    padding: 1em;
}

/* Filmliste*/
#mainFilme > ul {
    list-style: none;
    padding: 0;
}

#mainFilme > ul > li {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
    margin-top: 1em;

    padding: 1em;
    border: 1px solid rgb(173, 161, 46);
    background: rgb(245, 238, 70);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);

    min-width: 10em;
    min-height: 10em;
    max-width: 20em;

    position: relative;
    padding-bottom: 2.5em;
}

#mainFilme > ul > li > p {
    margin: 0;
}

#mainFilme > ul > li > .delete {
    position: absolute;
    right: 1em;
    bottom: 1em;

    color: blue !important;
    text-decoration: underline;

    cursor: pointer;
}

#mainFilme > ul > li > .delete:hover {
    color: rgb(43, 84, 255) !important;
}
div[id="filme"] h1 {
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  color: black;

}


div[id="filme"] p {
  font-family: Palatino Linotype;
  font-size: 10px;



  }
}

/* Hintergrund der Eingabeliste */
div[id="filme"] div {
  background-image: url("divImage.jpg");
  position: center;
  border-style: none;


}
#formFilme{
  color: white;
  font-family: Arial;
  font-size: 22;
  background-image: url(divImage.jpg);
}
div[id="filme"] input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div[id="filme"] input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div[id="filme"] input[type=submit]:hover {
  background-color: #45a049;
}

div[id="filme"] div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  border-style: none;
}




div[id="filme"] span{

  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

/* Styling der Filmliste */
div[id="filme"] ul li{
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type:armenian;
  background: black;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: upper-roman;



}

/* Filmeinträge durch 'Zebrastreifen' besser leserlich machen */

div[id="filme"] ul li:nth-child(odd){
  background: gray;
}

/* Optimierung der Listenposition */
div[id="filme"] ul{
  margin: 0;
  padding: 0;
}
/*Button, um Einträge zu löschen */

div[id="filme"] .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

div[id="filme"] .close:hover {
  background-color: #f44336;
  color: white;

}
