
html, body {
    padding: 0;
    margin: 0;
}


.hidden {
    display: none;
}


html {
  background-image: url(background.png);
  font-size: 14pt;
  }

body{

  max-width: 80%;
  margin: 0 auto;

}
header{
  background-image: url(serienTop.png);
}
h1{
  padding-top: 20%;
  font-size: 50pt;

}

/* NAVIGATION */
nav {
    background-color: #404040;
    color: white;

    border: 0px solid #202020;
    border-bottom-width: 3px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    padding: 1em;
    margin: 0;
}

nav li.active {
    background-color: #333333;
    border-color:red;
    border-bottom-width: 30px;
}

nav li:hover {
    background-color: #505050;

    border: 0px solid rgb(240, 240, 240);
    border-bottom-width: 3px;

    cursor: pointer;
}
