/**
* Stylesheet der Klasse App: Hauptstylesheet der Anwendung.
*
*/

/* Schriftarten einbinden */
@font-face {
    font-family: 'cherry_swashregular';
    src: url('cherryswash-regular-webfont.woff2') format('woff2'),
         url('cherryswash-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sailregular';
    src: url('sail-regular-webfont.woff2') format('woff2'),
         url('sail-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Allgemeine Einstellungen */
.hidden {
    display: none;
}


#allesSerie {
  font-size: 14pt;
  font-family: 'cherry_swashregular';
  }


#serienkopf{
  background-image: url(serienTop.png);
}

#ueberschriftSerie{
  padding-top: 20%;
  padding-left: 1%;
  font-size: 60pt;
  font-family: 'sailregular';
}


/* NAVIGATION */
#serien-menu {
    background-color: #404040;
    color: white;

    border: 0px solid #202020;
    border-bottom-width: 3px;
}

#serien-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#serien-menu li {
    padding: 1em;
    margin: 0;
}

#serien-menu li.active {
    background-color: #333333;
    border-bottom-width: 30px;
}

#serien-menu li:hover {
    background-color: #505050;

    border: 0px solid rgb(240, 240, 240);
    border-bottom-width: 3px;

    cursor: pointer;
}

/* Festsetzen des Plusbuttons beim Scrollen mit erhöter Transparenz */
li[name ="fest"]{
  position: fixed;
  background-color: rgba(25,25,25,0.3);
  color: rgba(255,255,255,0.7);

}
