/**
 * Stylesheet der Klasse PageList: Serielistenübersicht
 */

/* LISTENEINTRÄGE */
#serienListe ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

#serienListe li {
    margin: 0;
    padding: 1em;
    padding-bottom: 0.5em;
    margin-top: 2%;
    margin-bottom: 2%;

    background-color: rgba(138,138,138,0.8);

}

#serienListe li:hover {
    background-color: rgba(138,138,138);
}

#serienListe .titel {
    font-size: 25pt;
}

#serienListe .titel {
    font-size: 25pt;
}


#serienListe div{
  margin-left: 3%;
}
/* AKTIONSBUTTONS */
#serienListe .actions {
    display: flex;
}

#serienListe .actions > div {
    padding: 0.5em;
    margin: 0.5em;

    background-color: #e0e0e0;
    transition: background-color 0.5s;

    flex: 1;
    text-align: center;
}

#serienListe .actions > div:first-child {
    margin-left: 10%;
}

#serienListe .actions > div:last-child {
    margin-right: 10%;
}

#serienListe .actions > div:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

/* Sternebewertung */
.titel> div{
  float: right;
}
.titel> div >span{
  font-size: 20pt;
}
.gesetzt {
  color: orange;
}
