
#serienBearbeitenSeite {
    background-color: rgba(138,138,138,0.8);
    padding: 1em;
}

#serienBearbeitenSeite .form > * {
    display: block;
    width: 80%;
    margin: auto;

    padding: 0.5%;
    margin-bottom: 1em;
}

/* AKTIONSBUTTONS */
#serienBearbeitenSeite .actions {
    width: 25%;
    margin-left: 66.8%;

}

#serienBearbeitenSeite .actions > div {
    padding: 0.5em;
    margin: 0.5em;

    background-color: #e0e0e0;
    transition: background-color 0.5s;

    flex: 1;
    text-align: center;
}


#serienBearbeitenSeite .actions > div:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
