*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-image: url(./serien/background.png);
    max-width: 80%;
    margin: 0 auto;

}

/** PAGES **/
.page{
  display: none;
}
.active{
    display: block;
}


#kopfUeberschrift{
  padding-top: 2%;
  padding-left: 1%;
  font-size: 300%;
  font-family: sans-serif;
}
/* NAVIGATION */
#kopf {
    background-color: #404040;
    color: white;
    border: 0px solid #202020;
    border-bottom-width: 3px;
    font-family: sans-serif;
}

div[id="kopf"] ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

div[id="kopf"] li {
    padding: 1em;
    margin: 0;
}

div[id="kopf"] li.active {
    background-color: #333333;
    border-bottom-width: 30px;
}

div[id="kopf"] li:hover {
    background-color: #505050;

    border: 0px solid rgb(240, 240, 240);
    border-bottom-width: 3px;

    cursor: pointer;
}
#buecherlink{
  text-decoration: none;
  color: white;
}
