*{margin:0; padding:0; font-family:arial;}

section{width:100%; height:100%; float:left;}

#buecher{background: #D6CF61;}
#musik{background: #A8D661;}
#serien{background: #61D6A3;}
#filme{background: #61A4D6;}

nav{width:100%; position:fixed; z-index:1; top:80px;}

ul{width:fit-content; margin:auto; list-style:none;}

ul li{float:left; margin-right:30px;}

ul li a{color:#fff; text-decoration:none;}

ul li a:hover{text-decoration:underline;}
