
.hidden {
    display: none;
}

#musikAlles{
  font-family: "Segoe UI";
  font-size: 14pt;
    margin: 0 auto;
    max-width: 90%;
}



#musikUeberschrift{
    font-family: "Segoe UI";
    font-size: 44pt;
}

#musicMenu {
    background-color: #c0c0c0;
    border-bottom-width: 5px;
    border: 0px solid black;
    color: white;
}

#musicMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

#musicMenu nav li {
    margin: 0;
    padding: 1%;
}

#musicMenu li.active {
    border-bottom-width: 40px;
    background-color: black;
}

#musicMenu li:hover {
    cursor: pointer;
    background-color: black;
    border: 0px solid white);
    border-bottom-width: 5px;
}

 li[name ="stay"]{
    background-color: rgba(25,25,25,0.4);
    color: rgba(255,255,255,0.8);
    padding-right:1%;
    position: fixed;

}

@font-face {
    font-family: "Segoe UI";
    font-weight: normal;
    font-style: normal;
}
